.custom-collapse {
  margin-bottom: 1rem;
  width: 65%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.custom-collapse .ant-collapse-item {
  margin-bottom: 1rem;
}

.custom-collapse .ant-collapse-content {
  overflow: visible;
}

.custom-panel {
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.header-icon {
  width: 64px;
  height: 64px;
}
