.forecast-list {
  padding: 1rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.forecast-row {
  width: 65%;
  margin: 0 auto;
  height: 3em;
}

.day-date-wrapper {
  width: 112px;
}

.header-icon {
  width: 50px;
  height: 50px;
}

.avg-temp {
  margin-left: auto;
}

p {
  font-size: 1.2rem;
}

.custom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .day-date-wrapper {
    width: 50px;
  }

  .header-icon {
    width: 48px;
  }

  p {
    font-size: 1rem;
  }

  .custom-panel {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-icon {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}

.font-bold{
  font-weight: 600;
}

.small-font {
  font-size: 0.8rem;
}

.forecast-card-container {
  display: flex;
  justify-content: center;
}

.large-text {
  font-size: 1.5rem;

  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
